
<div class="container">
  <h1>Dashboard Framework</h1>
  <div class="row">
    <div class="col-lg-3">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Recent Analyses Output</h3>
        </div>

        <div class="container">
          <div class="panel-body">
            <ul class="general-list">
              {{#each analysis in test_outputs}}
                <li class="list-item"><a class="output-link" {{action "selectOutput" analysis}}>Analysis</a></li>
              {{else}}
                <li class="list-item">No Analyses Completed Yet!</li>
              {{/each}}
            </ul>
          </div>
        </div>


      </div>
    </div>

    <div class="col-lg-9">
      <div class="card">
        <p><strong>Data Visualization Outlet</strong></p>
        <img class="img-responsive graph-img" {{bind-attr src=selectedOutput.image_url}}>
      </div>
    </div>
  </div>

  <div class="row top-buffer bottom-buffer">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Create New Analysis</h3>
        </div>

        <div class="container">

            <div class="panel-body">
                {{link-to 'Upload New Dataset' 'datasets.new' }}
                <div class="row">
                  <form class="form-inline" {{action "submit" on="submit"}}>

                      {{select-2
                              content=classifiers
                              optionLabelPath="name"
                              optionValuePath="id"
                              value=selectedClassifiers
                              text="name"
                              description="description"
                              placeholder="Please Select Classifier(s)"
                              id="selectedClassifiers"
                              multiple=true
                      }}


                    {{select-2
                            content=datasets
                            optionValuePath="id"
                            optionLabelPath="name"
                            text="name"
                            description="description"
                            placeholder="Please Select a Dataset"
                            id="selectedDatasets"
                            value=selectedDatasets
                    }}


                    <button class="btn btn-primary" {{bind-attr disabled=emptyDatasets}}>Submit Analysis</button>
                  </form>


                </div>

{{!--               <div class="row">
                {{selectedClassifiers}} <br>

                {{#if selectedDatasets}}
                  {{selectedDatasets}}
                {{else}}
                  No datasets selected
                {{/if}}

                {{#each output in test_outputs}}
                  <li>{{output.content}} - {{output.precision_graph}}

                    <img {{bind-attr src=output.image_url}}>
                  </li>
                {{/each}}
              </div>

            </div> --}}
          </div>
        </div>

    </div>
  </div>

  {{outlet}}
</div>
