
<div class="container">
  <h1>Dashboard Framework</h1>
  <div class="row">
    <div class="col-lg-3">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Recent Analyses Output</h3>
        </div>

        <div class="container-fluid">
          <div class="panel-body">
            <ul class="general-list">
{{!--               {{#each analysis in test_outputs}}
                <li class="list-item"><a class="output-link" {{action "selectOutput" analysis}}>Analysis</a></li>
              {{else}}
                <li class="list-item">No Analyses Completed Yet!</li>
              {{/each}} --}}

              {{#each analysis in analyses}}
                <li class="list-item">
                <h5>{{analysis.title}} - #{{analysis.id}}</h5>

                <ul>
                  {{#each output in analysis.test_outputs}}
                    <li class="list-item">
                      <a class="output-link" {{action "selectOutput" output}}>
                      {{output.classifier.description}} Analysis</a>
                    </li>

                    {{else}}
                      <li>No data to show!</li>

                    {{/each}}

                </ul>
              </li>
              {{else}}
              <li class="list-item">No Analyses Completed Yet!</li>
              {{/each}}
            </ul>
          </div>
        </div>


      </div>
    </div>

    <div class="col-lg-9">

      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">Data Visualization</h3>
        </div>

        <div class="container">
          <div class="panel-body">

            {{#if selectedOutput}}
              {{#if showPrecision}}
                <a class="output-link" {{action "toggleGraphs"}}>Show ROC Curve</a>
                <img class="img-responsive graph-img" {{bind-attr src=selectedOutput.image_url}}>
              {{else}}
                <a class="output-link" {{action "toggleGraphs"}}>Show Precision Graph</a>
                <img class="img-responsive graph-img" {{bind-attr src=selectedOutput.roc_url}}>
              {{/if}}
              <p>
                <strong>Accuracy Score: {{selectedOutput.accuracy_score}}</strong>
              </p>

              <p>
                <strong>Precision Score: {{selectedOutput.precision_score}}</strong>
              </p>

              <p>
                <strong>Recall Score: {{selectedOutput.recall_score}}</strong>
              </p>

              <p>
                <strong>F1 Score: {{selectedOutput.f1_score}}</strong>
              </p>

              <p>
                <strong>Counter Data: {{selectedOutput.content}}</strong>
              </p>
            {{else}}
            <p>Select an analysis result on the left.</p>
            {{/if}}


          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row top-buffer bottom-buffer">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Create New Analysis</h3>
        </div>

        <div class="container">
            <div class="panel-body">
{{!--                 {{link-to 'Upload New Dataset' 'datasets.new' }}
 --}}            <div class="row">

                    <div class="col-md-11">

                  <form role="form" {{action "submit" on="submit"}}>

                      <div class="form-group">
                        <label for="title" class="control-label">Analysis Title (optional)</label>
                        {{view Ember.TextField value=fields.title placeholder="Enter a Name for this Analysis" id="title" class="form-control"
                        }}
                      </div>


                      <div class="form-group">
                        <label for="">Analysis Description (optional)</label>
                        {{textarea value=fields.description placeholder="Enter a Description for this Analysis" class="form-control" }}
                      </div>


                      <div class="form-group">
                        <label for="selectedClassifiers">Select Classifier(s)</label>

                        {{select-2
                                label="Select Classifier(s)"
                                content=classifiers
                                optionLabelPath="name"
                                optionValuePath="id"
                                value=fields.selectedClassifiers
                                text="name"
                                description="description"
                                placeholder="Please Select Classifier(s)"
                                id="selectedClassifiers"
                                multiple=true
                                class="form-control custom-control"
                        }}
                      </div>


                    <div class="form-group">
                      <label for="selectedDatasets">Select Dataset</label>
                      {{select-2
                              content=datasets
                              optionValuePath="id"
                              optionLabelPath="name"
                              text="name"
                              description="description"
                              placeholder="Please Select a Dataset"
                              id="selectedDatasets"
                              value=fields.selectedDatasets
                              class="form-control custom-control"
                      }}






                    </div>

                    <button class="btn btn-primary" {{bind-attr disabled=emptyDatasets}}>Submit Analysis</button>
                  </form>

                </div>
                </div>

{{!--               <div class="row">
                {{selectedClassifiers}} <br>

                {{#if selectedDatasets}}
                  {{selectedDatasets}}
                {{else}}
                  No datasets selected
                {{/if}}

                {{#each output in test_outputs}}
                  <li>{{output.content}} - {{output.precision_graph}}

                    <img {{bind-attr src=output.image_url}}>
                  </li>
                {{/each}}
              </div>

            </div> --}}
          </div>
        </div>

    </div>
  </div>

  {{outlet}}
</div>
